.left_panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    position: fixed;
    left: 65px;

    z-index: 1;
    height: 100vh;
}

.text{
    font-family: var(--font3);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.69em;

    text-transform: uppercase;
    text-align: center;
    
    writing-mode: vertical-rl; 
    text-orientation: mixed; 
    transform: rotate(180deg);

    color: rgba(255, 255, 255, 0.5);
}

.line{
    width: 0;
    height: 149px;
    
    border: 1px solid rgba(255, 255, 255, 0.25);
}